@model CreatingCRUDApplicationWithImages.Models.EmpTable

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>EmpTable</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.id)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.id)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.desiganation)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.desiganation)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.imagePath)
        </dt>

        <dd>
            <img src="@Url.Content(Session["Image2"].ToString())" height="80" width="80" />
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
