@model ASP.NETMVCTutorials.Models.User

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<div class="row">

    <div class="col-md-3 col-md-offset-4">

        <div style="border: 5px black ridge; padding: 10px;">

            @using (Html.BeginForm("Index", "LoginFormMVC", FormMethod.Post))
            {
            <table height="200">

                <tr>
                    <th colspan="2" class="text-center" style="font-size: 25px;">LOGIN</th>
                </tr>

                <tr>
                    <td>@Html.LabelFor(model => model.UserName)</td>
                    <td>
                        @Html.TextBoxFor(model => model.UserName, new { @class = "form-control"})
                        @Html.ValidationMessageFor(model => model.UserName, "", new { @class = "text-danger"})
                    </td>
                </tr>

                <tr>
                    <td>
                        @Html.LabelFor(model => model.Password)
                    </td>
                    <td>
                        @Html.EditorFor(model => model.Password, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.Password, "", new { @class = "text-danger" })
                        @ViewBag.ErrorMessage
                    </td>
                </tr>

                <tr>
                    <td></td>
                    <td>
                        <input type="submit" value="Login" name="Login" class="btn btn-info"/>
                        <a href="/LoginFormMVC/Reset" class="btn btn-danger">Reset</a>
                    </td>
                </tr>

            </table>
            }

        </div>

    </div>

</div>