`
@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<input type="text" name="Full Name" id=" fullname" value="" />
<br />
<br />
@Html.TextBox("Full Name")
<br />
<br />
@Html.TextBox("Full Name", "Swati Jathar")
<br />
<br />
@Html.TextBox("Full Name", "Pradip Jathar", new { style = "background-color:lightgray; color:red; font-weight:bold;", title = "Please enter your Full Name." })
<br />
<br />
@Html.TextBox("Full Name", "Shubhangi Gunjal", new { @class = "TextBoxStyle" })
<br />
<br />
@Html.TextBox("Full Name", "Pravin Gunjal", new { @class = "form-control" })
<br />
<br />
@Html.TextBox("Full Name", "Pravin Gunjal", new { @class = "form-control", @readonly = true })

