@model IEnumerable<ASP.NETMVCTutorials.Models.Manager>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

@*@Html.Raw(TempData["DeleteMessage"])*@
<p style="color:green;">@TempData["DeleteMessage"]</p>

@*@Html.Raw(TempData["UpdateMessage"])*@
<p style="color:green;">@TempData["UpdateMessage"]</p>

@*@Html.Raw(TempData["InsertMessage"]);*@
<p style="color:green;">@TempData["InsertMessage"]</p>

<p>
    @Html.ActionLink("Create New", "Create")
</p>

<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Gender)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Age)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Gender)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Age)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { id = item.Id }) |
                @Html.ActionLink("Details", "Details", new { id = item.Id }) |
                @Html.ActionLink("Delete", "Delete", new { id = item.Id })
            </td>
        </tr>
    }

</table>
