@model ASP.NETMVCTutorials.Models.Calculation
@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

@using (Html.BeginForm())
{
    <p>@Html.LabelFor(model => model.Num1) &nbsp; @Html.TextBoxFor(model => model.Num1)</p>
    <p>@Html.LabelFor(model => model.Num2) &nbsp; @Html.TextBoxFor(model => model.Num2)</p>

    <input type="submit" value="Submit"/>

    <p>Addition Result is: @ViewBag.Result</p>
}
